<%- include("partials/header") %>

<div class="container">
    <div class="jumbotron">
        <h1>Welcome to the YelpCamp landing page</h1>
        <p class="lead">Choose from the best hand-picked campgrounds for your next holiday destination!!</p>
        <a href="/campgrounds" class="btn btn-primary btn-default">View all the campgrounds </a>
    </div>
</div>


<%- include("partials/footer") %>
